<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="HostelServicePortBinding" />
                <binding name="ServiceServicePortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/ws02/HostelService"
                binding="basicHttpBinding" bindingConfiguration="HostelServicePortBinding"
                contract="HostelReference.HostelService" name="HostelServicePort" />
            <endpoint address="http://localhost:8080/ws02/ServicelService"
                binding="basicHttpBinding" bindingConfiguration="ServiceServicePortBinding"
                contract="ServiceReference.ServiceService" name="ServiceServicePort" />
        </client>
    </system.serviceModel>
</configuration>